# MongoDB Atlas: use your connection string and add database name before the "?"
# Example: mongodb+srv://USER:PASSWORD@cluster0.xxx.mongodb.net/dahiya-finance?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxx.mongodb.net/dahiya-finance?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=your-super-secret-jwt-key-change-in-production
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your-google-maps-api-key
